---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";

Astro.response.headers.set('Cache-Control', 'public, max-age=31536000, immutable');

---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Interdisciplinary scientist turned research software engineer.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="PhD Systems Biology"
      subtitle="University of Manchester (2011)"
    />
    <TimeLineElement
      title="B.Sc (hons) Microbiology"
      subtitle="Liverpool John Moore's University (2000)"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="UKRI - Research Software Engineer"
      subtitle="March 2023 - current"
    >
    <li> Development of bioinformatics pipelines using Nextflow. </li>
    <br>
    <li> Management of industry commercialisation projects to deliver research software into production. </li>
    <br>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="SEDA pds - Associate Principal Scientist"
      subtitle="Nov 2022 - Mar 2023"
    >
    <li> Delivery of literature reviews and non-compartmental analysis for drug pharmacokinetic studies to clients in the pharmaceutical industry.</li>
    <br>
    <br>
    </TimeLineElement>
    <TimeLineElement
      title="Certara QSP - Research Scientist"
      subtitle="Feb 2020 - Nov 2022"
    >
    <li> I delivered scientific programming support to researchers building quantitative systems pharmacology models for clients in the pharmaceutical industry. </li>
    <br>
    <li> Development of models of chronic lymphocytic leukaemia as part of a large immunooncology platform model developed for a pharmaceutical industry consortium. </li>
    <br>
    <li> Development of pipelines for parameter optimization and sensitivity analysis of large ordinary differential equation models using R and MATLAB. </li>
    <br>
    <li> Implementation of methods for generating virtual patient populations from ordinary differential equation models. </li>
    <br>
    <li> Implementation of numerical deconvolution methods for calculating drug absorption. </li>
    <br>
    <li> Supporting colleagues with adapting code for parallel computing using MATLAB parallel server.</li>
    <br>
    <br>
    </TimeLineElement>
    <TimeLineElement
    title="STFC - Data Scientist"
    subtitle="Jun 2017 - Jan 2020"
  >
  <li> I delivered data science consultancy projects working collaboratively with IBM Research and industry clients using high-performance computing clusters. </li>
  <br>
  <li> I implemented a bioinformatics pipeline for a large Agrochemicals manufacturer to annotate L1000 genomics data, perform pathway enrichment and output biochemical network visualisation to investigate biomarkers of toxicology. The work was published in a <a href="https://research.ibm.com/publications/combining-human-cell-line-transcriptome-analysis-and-bayesian-inference-to-build-trustworthy-machine-learning-models-for-prediction-of-animal-toxicity-in-drug-development"><u>collaborative paper with IBM Research</a></u>.</li>
  <br>
  <li> I implemented a data pipeline using Apache Airflow to collate client data combined with public API’s for application in supply chain logistics. </li>
  <br>
  <li> I developed a social media scraping and sentiment analysis pipeline in collaboration with IBM Watson. </li>
  <br>
  <li> I developed a clustering pipeline using DBSCAN for investigating fault detection in acoustic engineering. </li>
  <br>
  <li> I managed the delivery of machine learning models to a pharmaceutical industry consortium as part of the EU-funded ADDoPT program for improving drug manufacturing processes, and co-authored a paper on the work in the <a href="https://link.springer.com/article/10.1007/s12247-020-09433-5"><u>Journal of Pharmaceutical Innovation</a></u>.</li>
  <br>
  <br>
</TimeLineElement>

  <TimeLineElement
    title="Certara Simcyp - Research Scientist"
    subtitle="Sep 2016 - Jun 2017"
  >
    <li>I implemented mathematical models of neutropenia, supporting contract research projects for clients in the pharmaceutical industry.</li>
    <br>
    <br>
  </TimeLineElement>

  <TimeLineElement
    title="STFC - Research Scientist"
    subtitle="Dec 2015 - Sep 2016"
  >
    <li>Working in collaboration with IBM Research, I was responsible for identifying opportunities to work with industry and academic partners to apply high-performance computing in genomics.</li>
    <br>
    <br>
  </TimeLineElement>

  <TimeLineElement
    title="AstraZeneca - Senior Scientist"
    subtitle="Mar 2012 - Jun 2015"
  >
    <li>Working primarily in the oncology disease area, I developed quantitative systems pharmacology models in collaboration with experimental scientists, DMPK modellers, and clinical teams.</li>
    <br>
    <li>My work was applied to phase 1 clinical trials to enable dose scheduling and drug efficacy prediction for clinicians, and published in <a href="https://www.nature.com/articles/srep13545"><u>Nature Scientific Reports</a></u>.</li>
    <br>
    <li> I contributed to the development of models of the intestinal free mucus pharmacokinetic efficacy relationship for gastrointestinal limited drugs, which was published in the <a href="https://www.sciencedirect.com/science/article/abs/pii/S1347436716304700"><u>Journal of Drug Metabolism and Pharmacokinetics</a></u>.</li>
    <br>
    <li>I project managed outsourced modelling and simulation projects, coordinating third-party organisations in the US, Russia, and Sweden for oncology and cardiovascular research programs.</li>
    <br>
    <br>
    </TimeLineElement>

  <TimeLineElement
    title="Unilever - Research Assistant"
    subtitle="Mar 2003 - Sep 2007"
  >
    <li>Microbiology support for home and personal care products.</li>
    <br>
    <br>
    </TimeLineElement>

  <TimeLineElement
    title="ConvaTec - Research Assistant"
    subtitle="Mar 2001 - Mar 2003"
  >
    <li>QC microbiology screening for wound healing products and environmental monitoring of clean room facilities.</li>
    <br>
    <br>
    </TimeLineElement>

  <TimeLineElement
    title="Unilever - Research Assistant"
    subtitle="Jun 2000 - Mar 2001"
  >
    <li>Microbiology support for consumer study trials of oral care products.</li>
  </TimeLineElement>

  </div>

  <!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> 
-->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>


  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Python</li>
    <li>R</li>
    <li>Shiny</li>
    <li>Flask</li>
    <li>Matlab</li>
    <li>Nextflow</li>
    <li>Copasi</li>
    <li>ODE based mechanistic modelling</li>
    <li>Numerical optimization</li>
    <li>Sensitivity analysis</li>
    <li>Virtual patient simulation</li>
    <li>Quantitative systems pharmacology</li>
    <li>Development of hpc data pipelines</li>
    <li>Molecular biology</li>
    <li>Microbiology</li>
    <li>Drug discovery for oncology</li>
  </ul>
</BaseLayout>
