---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

Astro.response.headers.set('Cache-Control', 'public, max-age=31536000, immutable');

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">Steve Checkley</div>
    <div class="text-3xl py-3 font-bold">contract systems biologist</div>
    <div class="py-2">
      <text class="text-lg">
      Experienced in Python, R, and Matlab alongside molecular and microbiology. 
        <br>
        <br>
        I have experience in both experimental and computational fields, building complex molecular biology circuitry in microorganisms alongside mechanistic models of biological systems. 
        <br>
        <br>
        I have applied my mathematical biology experience to quantitative systems pharmacology in the pharmaceutical industry, as well as scientific programming to support life sciences researchers with data science workflows, Nextflow bioinformatics pipelines, and code optimization for high-performance computing.
        <br>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:scheckley@gmail.co.uk" target="_blank"> contact me</a>
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="IVIVC level A"
    img="/ivivc.png"
    desc="A web application enabling IVIVC level A using numerical deconvolution."
    url="https://stevecheckley.shinyapps.io/IVIVC_levelA/"
    badge=""
    />
  <HorizontalCard
    title="Target mediated drug deposition"
    img="/tmdd.png"
    desc="A web application enabling target mediated drug deposition (TMDD) modeling."
    url="https://stevecheckley.shinyapps.io/TMDD/"
    badge=""
    />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
