---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

Astro.response.headers.set('Cache-Control', 'public, max-age=31536000, immutable');

---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Pharmaceutical industry</div>
  </div>

  <HorizontalCard
    title="Oncology modeling and simulation"
    img="/model_diagram.png"
    desc="A mechanistic model of DNA damage repair inhibition and combination IR therapy. The model is used for oncology drug development and predicting clinical dose scheduling."
    url="https://www.nature.com/articles/srep13545"
    badge="" 
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="IVIVC level A"
    img="/ivivc.png"
    desc="A web application enabling IVIVC level A using numerical deconvolution."
    url="https://stevecheckley.shinyapps.io/IVIVC_levelA/"
    badge=""
    />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="Target mediated drug deposition"
    img="/tmdd.png"
    desc="A web application enabling target mediated drug deposition (TMDD) modeling."
    url="https://stevecheckley.shinyapps.io/TMDD/"
    badge=""
    />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="Enzyme kinetics simulator app"
    img="/enzyme_kinetics.png"
    desc="A web application to simulate michaelis menten enzyme kinetics."
    url="https://stevecheckley.shinyapps.io/shiny_mm/"
    badge=""
    />
    <div class="divider my-0"></div>
  <HorizontalCard
    title="IVIVC algorithm Python package"
    img="/pyvivc.png"
    desc="A port of the RIVIC package from R to Python, maintained on pypy."
    url="https://pypi.org/project/pyvivc/"
    badge=""
    />
    <div class="divider my-0"></div>

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Other projects</div>
  </div>

  <HorizontalCard
    title="PhD thesis"
    img="/thesis.png"
    desc="Engineering tuneable gene circuits in yeast."
    url="https://research.manchester.ac.uk/en/studentTheses/engineering-tuneable-gene-circuits-in-yeast"
    badge=""
  />
  <HorizontalCard
    title="Digital garden"
    img="/garden.png"
    desc="A TiddlyWiki based digital garden of notes."
    url="https://stevecheckley.co.uk/garden.html"
    badge=""
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Machine learning for drug toxicity"
    img="/tox_ml.png"
    desc="Using human in vitro transcriptome analysis to build trustworthy machine learning models for prediction of animal drug toxicity."
    url="https://www.nature.com/articles/s41598-020-66481-0"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Machine learning for powder flow prediction"
    img="/flow.png"
    desc="Demonstration of the Feasibility of Predicting the Flow of Pharmaceutically Relevant Powders from Particle and Bulk Physical Properties."
    url="https://link.springer.com/article/10.1007/s12247-020-09433-5"
    />
    <div class="divider my-0"></div>

</BaseLayout>
