---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=31536000, immutable"
);
---

<BaseLayout title="Projects" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services</div>
  </div>

  <HorizontalCard
    title="Quantitative systems pharmacology consultancy"
    img="/dynamic.png"
    desc="I provide contract research services for quantitative systems pharmacology (QSP) modeling and simulation."
    badge=""
    url="mailto:scheckley@gmail.com?subject=QSP consultancy enquiry"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Research software engineering"
    img="/lcars.png"
    desc="I implement scientific methods in code and develop interactive graphical tools, enabling non-programmers to apply models and data science workflows."
    badge=""
    url="mailto:scheckley@gmail.com?subject=software development enquiry"
  />
</BaseLayout>
